name: gestion_commandes_app
description: "A new Flutter project."
 
publish_to: 'none'  
version: 1.0.0+1

environment:
  sdk: ^3.9.2

 
dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.0.5
  image_picker: ^1.0.4
  shared_preferences: ^2.2.2
  intl: ^0.18.1
  cached_network_image: ^3.3.0
   
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
 
flutter:
 
  uses-material-design: true

   