MYSQLHOST=bdrqrvna7ivrtqdh3i9q-mysql.services.clever-cloud.com
MYSQLPORT=3306
MYSQLUSER=umuwnzvqek77sduz
MYSQLPASSWORD=fLB2baWjtFB5OxK95QcP
MYSQLDATABASE=bdrqrvna7ivrtqdh3i9q

JWT_SECRET=<ta_valeur_précédente_de_JWT_SECRET>
GOOGLE_CLIENT_ID=679713157139-e8r3ahd7milpcuvng9vfiruiijcghm12.apps.googleusercontent.com